@import "var";
@import "mixin.scss";
@import "responsive.scss";
@import "header";

/*index*/
/*Index fondo*/
/*mobile fondo*/
.fondo-index-phone {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: top left;
    z-index: -1000;
}

/*desktop fondo*/
.fondo-index {
    display: none;
}

/*index header*/
/*Contenedor header*/
.index-header-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(4, 25%);
    z-index: 300;

    img {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        justify-self: start;
        align-self: start;
        width: 9vw;
        height: auto;
        cursor: pointer;
    }
}

/*index main*/
/*Contenedor main*/
.index-main-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(20, 5vh);
    z-index: 150;

    /*logo index*/
    .logo-index {
        grid-column: 2 / 5;
        grid-row: 14 / 16;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 55% 45%;
        z-index: 151;
        text-align: center;

        img {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            width: 120%;
            overflow: none;
            object-fit: cover;
            align-self: center;
            user-select: none;
        }

        h3 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            font-size: 10vw;
            color: $color-logo;
            align-self: center;

            b {
                color: $color-logo-es;
            }
        }

        p {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            font-size: 3vw;
            color: $color-logo;
            align-self: stretch;
            user-select: none;
        }
    }
}

/*index footer*/
/*Contenedor footer*/
.index-footer-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(10, 10vh);
    z-index: 200;

    /*Boton footer*/
    .btn-index {
        grid-column: 2 / 5;
        grid-row: 6 / 7;
        justify-self: center;
        align-self: center;
        @include flex (flex, row, 50vw);
        padding: 0.9rem 1.8rem;
        font-size: 4vw;
        font-weight: 500;
        color: $index-boton-texto-borde;
        border: 3px solid $index-boton-texto-borde;
        cursor: pointer;
        position: absolute;
        background-color: $index-boton-fondo;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        text-transform: uppercase;
        height: 10vw;
        justify-content: center;
        align-items: center;
    }

    ::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $index-boton-hover-fondo;
        transform: translateX(-100%);
        transition: all .6s;
        z-index: -1;
    }

    :hover::before {
        transform: translateX(0);
    }
}

/*Fin del Index*/
@include pc {

    /*index fondo*/
    .fondo-index-phone {
        display: none;
    }

    .fondo-index {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1000;
    }

    .capa-index {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        z-index: -900;
        opacity: .15;
    }

    /*index header*/
    .index-header-cont {
        img {
            width: 2.8vw;
            height: auto;
            cursor: pointer;
        }
    }

    /*index main */
    .index-main-cont {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 20vw);
        grid-template-rows: repeat(20, 5vh);
        z-index: 150;

        /*logo index*/
        .logo-index {
            grid-column: 1 / 2;
            grid-row: 18 / 20;

            img {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }

            h3 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                font-size: 3vw;
                color: $color-logo;
                align-self: center;

                b {
                    color: $color-logo-es;
                }
            }

            p {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                font-size: .9vw;
                color: $color-logo;
            }
        }
    }

    /*index footer*/
    .index-footer-cont {
        .btn-index {
            grid-column: 2 / 5;
            grid-row: 8 / 9;
            height: 6vh;
            width: 20vw;
            justify-content: center;
            align-items: center;
            font-size: 1.5vw;
        }
    }
}
