//botón index colores
$index-boton-texto-borde: #FBFDCE;
$index-boton-fondo: rgb(2, 2, 2);
$index-boton-hover-fondo: #3E0403;
// logo var colores
$color-logo: rgb(255, 255, 255);
$color-logo-es: rgb(228, 39, 39);