* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,footer {
    max-width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Vollkorn", serif;
}

@import "principal";
@import "header";
@import "inicio";
@import "footer";
@import "inicio-de-sesion";
@import "sobre-nosotros";
@import "terminos-de-servicio";
@import "ayudanos";
@import "multimedia";
@import "personajes";
@import "keyframes";
@import "contactanos";